<div class="user-absences__action-bar">
	<app-headline title="User Absences"></app-headline>
	<a [routerLink]="['/user-absences-create', userId]" class="button">
		 + new absence
	</a>
</div>

<table class="table">
	<thead>
		<tr>
			<th>Date From</th>
			<th>Date To</th>
			<th>Absence Definition</th>
			<th>Comment</th>
			<th>First Name</th>
			<th>Last Name</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let absence of absences">
			<td>{{ getDate(absence.PartialTimeFrom) }}</td>
			<td>{{ getDate(absence.PartialTimeTo) }}</td>
			<td>{{ absence.AbsenceDefinitionName }}</td>
			<td>{{ absence.Comment }}</td>
			<td>{{ absence.FirstName }}</td>
			<td>{{ absence.LastName }}</td>
		</tr>
		<tr *ngIf="loading">
			<td colspan="6">
				Loading...
			</td>
		</tr>
		<tr *ngIf="error">
			<td colspan="6">
			  Something went wrong. Please check the settings.
			</td>
		</tr>
	</tbody>
</table>