body {
  margin: 0;
}

.app {
  display: flex;

  &__menu {
    width: 20%;
    background: linear-gradient(180deg, rgba(131,58,180,1) 27%, rgba(253,29,134,1) 100%);
  }

  &__main-content {
    width: 80%;
    padding: 50px 60px;
    background: #fff0f4;
    flex: 1;
  }
}