.absences {
  &__action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__form {
    display: flex;
    align-items: flex-end;

    .button {
      margin-right: 12px;
    }
  }
  
  &__search-input {
    width: 160px;
    margin-right: 20px;
  }
}